.app.dark {
    --bg-color: darkslategrey;
    --inverted-bg-color: rgb(235, 241, 245);

    --primary-color: rgb(235, 241, 245);
    --secondary-color: white;

    --inverted-primary-color: darkslategrey;
    --inverted-secondary-color: black;
}
