.app.light {
    --bg-color: rgb(235, 241, 245);
    --inverted-bg-color: darkslategrey;

    --primary-color: darkslategrey;
    --secondary-color: black;

    --inverted-primary-color: rgb(235, 241, 245);
    --inverted-secondary-color: white;
}
